/* Importa la fuente Poppins desde Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');

/* Estilos globales */
*{
    font-family: 'Poppins', cursive;
}

/* Configuración del cuerpo de la página */
body{
    color: rgba(248, 224, 224, 0.582);
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}

/* Estilos para el texto de saludo */
.greetings{
    font-size: 6rem;
    font-weight: 900;
    display: flex;
    gap: 10px; /* Añade espacio entre las letras */
}

/* Animación de resplandor para cada letra */
.greetings > span {
    animation: glow 2.5s ease-in-out infinite;
}

/* Definición de la animación de resplandor */
@keyframes glow {
    0%, 100% {
        color: #696565; /* Color opaco al principio y al final */
        text-shadow: none;
    }
    10%, 90% {
        color: #fff; /* Iluminación blanca en el centro de la animación */
        text-shadow: 0 0 12px #4a99da, 0 0 50px #4a99da, 0 0 100px #4a99da;
    }
}

/* Aplicación de retrasos a la animación de cada letra */
.greetings > span:nth-child(2){ animation-delay: .2s; }
.greetings > span:nth-child(3){ animation-delay: .4s; }
.greetings > span:nth-child(4){ animation-delay: .6s; }
.greetings > span:nth-child(5){ animation-delay: .8s; }
.greetings > span:nth-child(6){ animation-delay: 1s; }
.greetings > span:nth-child(7){ animation-delay: 1.2s; }
.greetings > span:nth-child(8){ animation-delay: 1.4s; }
.greetings > span:nth-child(9){ animation-delay: 1.6s; }
.greetings > span:nth-child(10){ animation-delay: 1.8s; }
.greetings > span:nth-child(11){ animation-delay: 2s; }
.greetings > span:nth-child(12){ animation-delay: 2.2s; }
.greetings > span:nth-child(13){ animation-delay: 2.4s; }
.greetings > span:nth-child(14){ animation-delay: 2.6s; }

/* Estilos para la descripción */
.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #3c8ad3;
}

/* Estilos para el enlace del botón */
.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

/* Estilos responsivos para pantallas pequeñas */
@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 3rem;
        font-weight: 500;
        text-align: center;
    }
    .description{
        font-size: 1rem;
    }
    
    .button a{
        font-size: .5rem;
    }
}

/* Estilos para el botón */
.button button {
    background-color: rgb(68, 168, 207);
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
    border-radius: 20px;
    transition: background-color 0.3s ease-in-out;
}

/* Estilos del enlace dentro del botón */
.button button a {
    text-decoration: none;
    color: inherit;
}

/* Efecto de resplandor al pasar el cursor sobre el botón */
.button button:hover {
    background-color: rgb(64, 61, 224);
    box-shadow: 0 0 10px rgb(63, 170, 219), 0 0 20px rgb(63, 170, 219), 0 0 30px rgb(63, 170, 219);
}
